<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">

    <label>Username: <input type="text" name="username" class="form-control"></label>
    <label>Email: <input type="email" name="email" class="form-control"></label>

    <label>Password:<input type="password" name="password" class="form-control"></label>
    <label>Verify Password: <input type="password" name="passwordValidation" class="form-control"></label>

    <input type="submit" value="Add User to System">

</form>

</body>
</html>